<a href="https://colab.research.google.com/github/clara-ming/19.03.11/blob/master/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!pip install -q keras
import numpy as np
# Use a linear stack of layers
from keras.models import Sequential 
# Implement output = activation(dot(input, kernel) + bias)
from keras.layers import Dense 
import pandas as pd

In [17]:
# define dataset
X = np.array([[10, 20, 30, 100], [20, 30, 40, 200], [30, 40, 50, 300], [40, 50, 60, 400]])
y = np.array([40, 50, 60, 70])
pd.DataFrame(X)

    0   1   2    3
0  10  20  30  100
1  20  30  40  200
2  30  40  50  300
3  40  50  60  400

In [29]:
# define model
model = Sequential()
model.add(Dense(8, activation='relu', input_dim=4, kernel_initializer='uniform'))
model.add(Dense(8, activation='relu', kernel_initializer='uniform'))
model.add(Dense(8, activation='relu', kernel_initializer='uniform'))
model.add(Dense(1))
model.compile(optimizer='adam', loss='mse')
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_26 (Dense)             (None, 8)                 40
_________________________________________________________________
dense_27 (Dense)             (None, 8)                 72
_________________________________________________________________
dense_28 (Dense)             (None, 8)                 72
_________________________________________________________________
dense_29 (Dense)             (None, 1)                 9
=================================================================
Total params: 193
Trainable params: 193
Non-trainable params: 0
_________________________________________________________________

In [30]:
# verbose: Integer. 0, 1, or 2
model.fit(X, y, epochs=1000, verbose=0)

In [31]:
x_input = np.array([50, 60, 70, 500])
print(x_input)
x_input = x_input.reshape((1, 4))
print(x_input)

[ 50  60  70 500]
[[ 50  60  70 500]]

In [32]:
yhat = model.predict(x_input, verbose=0)
print(yhat[0,0])

93.59551